<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>556290841007-6ebutcjfplaomjjlqefplp1s34e99ms9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.556290841007-6ebutcjfplaomjjlqefplp1s34e99ms9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>556290841007-95sub211v241shkt05dj9ohopo6a4m9r.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDAwXSj9G18CdWIs_-GK7wE7KBAZMS66Rc</string>
	<key>GCM_SENDER_ID</key>
	<string>556290841007</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
    <string>com.duyts.pokerhost</string>
	<key>PROJECT_ID</key>
	<string>kidsapp-39001</string>
	<key>STORAGE_BUCKET</key>
	<string>kidsapp-39001.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:556290841007:ios:b00eabc6ca82bf3c44b75a</string>
</dict>
</plist>